#textgame{
    color: brown;
    font-style: bold;
    font-size: 3vw;
}

#amongus {
    width: 20vw;
    margin: auto;
    position: absolute;

}

#title {
    text-align: center;
    padding-top: 18vh;
}

h4.firstpage {
    text-align: center;
    padding-top:20vh;
}

#enter {
    font-size: smaller;
    border-style: dashed;
    border-width:1px;
}